*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: rgb(207, 204, 204);
}
html {
    letter-spacing: 1.3px;
	font-size: 10px;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-color: #000;
    color: rgb(255, 255, 255);
}
h3{
    margin: 4rem;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1rem;
    word-spacing: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    transform:scale(1,2);
}
/* BUTTONS ANIMATION */

.line1{
    min-height: 1px;
    width: 100%;
    bottom: 0;
    left: -100%;
    transition: 0.2s;
}
.line2{
    height: 100%;
    min-width: 1px;
    bottom: -100%;
    right: 0;
    transition: 0.2s .2s;
}
.line3{
    min-height: 1px;
    width: 100%;
    top: 0;
    right: -100%;
    transition: 0.2s ;
}
.line4{
    height: 100%;
    min-width: 1px;
    top: -100%;
    left: 0;
    transition: 0.2s .2s;
}
span.line{
    position: absolute;
    background-color: white;
}
a:hover .line{
    box-shadow: 0 0 2px 1px white;
}
a:hover .line1{
    left: 0;
}
a:hover .line2{
    bottom: 0;
}
a:hover .line3{
    right: 0;
}
a:hover .line4{
    top: 0;
}
/* NAVIGATION */
#navigation{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -10px -10px 20px  black;
    box-shadow: none;
    transition: .5s;
    padding: 4rem 6rem;
}
#navigation.sticky{
    /* after scroll down */
    padding: 2rem 5rem;
    background-color: white;
    box-shadow: -10px -10px 20px  black;
}
#navigation .nav-name{
    z-index: 1000;
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    word-spacing: .5rem;
    letter-spacing: -0.2rem;
    text-transform: uppercase;
    transition: .5s;
}
#navigation .nav-name a h1.myname{
    z-index: 1000;
    font-size: 3rem;
}
#navigation .nav-name a h1.myname span{
    font-size: 3.1rem;
    font-weight: 700;
    color: rgb(211, 25, 25);
}
#navigation .nav-list{
    z-index: 999;
}
#navigation .nav-list ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
#navigation .nav-list ul li{
    position: relative;
    list-style: none;
}
#navigation .nav-list ul li a{
    position: relative;
    margin: 0 1.3rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: .2rem 1.2rem;
    border-style: none;
    overflow: hidden;
    cursor: pointer;
}
#navigation.sticky a{
    /* after scroll down */
    color: black;
}
#navigation.sticky span.line{
    background-color: rgba(255, 0, 0, 0);
}
#navigation.sticky a:hover .line{
    box-shadow: 0 0 4px 3px red;
}

    /* Burger */
#navigation .burger{
    position: fixed;
    display: none;
    top: 3vh;
    right: 0;
    margin: 1.7rem;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#navigation .burger div{
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin: 4px auto;
    transition: .2s;
}
#navigation.sticky .burger div{
    background-color: #000;
}






/* HOME PAGE*/
#home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home .hello {
    position: absolute;
    left: 15%;
    z-index: 2;
    font-size: 4rem;
    text-shadow: 0 0 100px rgba(255, 255, 255, 0.653);
}
#home .hello a{
    display: block;
    position: relative;
    padding: 10px 25px;
    margin-top: 40px;
    text-transform: capitalize;
    border-style: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 40px;
    font-weight: 600;
    color: rgb(211, 25, 25);
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.486);
}


/* ABOUT ME */

#aboutme{
    position: relative;
    padding-top: 8vh;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
#aboutme .aboutme{
    position: absolute;
    display: flex;
    padding: 0 17%;
    width: 100%;
    height: 70%;
}
#aboutme .aboutme h4{
    margin: 3rem 1.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-shadow: 0 0 7px #000;
    text-align: center;
    color: #fff;
}
#aboutme .aboutme .slide{
    position: relative;
    height: 100%;
    flex: 1;
    border: 2px solid #000;
    overflow: hidden;
    font-size: 2rem;
    transition: .4s ease-in-out;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center ;
}
#aboutme .aboutme .slide:hover{
    flex-grow: 6;
}
#aboutme .aboutme .education{
    background-image: url("img/education2.jpg");
}
#aboutme .aboutme .achievements{
    background-image: url("img/achievements.jpg");
}
#aboutme .aboutme .hobby{
    background-image: url("img/hobby.jpg");
}
#aboutme .aboutme .slide .content{
    position: absolute;
    bottom: 0;
    margin: 3rem;
    padding: 3rem;
    background-color: #000;
    color: #fff;    
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    transform: translate(100px);
}
#aboutme .aboutme .slide:hover .content{   
    visibility: visible;
    opacity: 1;
    transition: .4s;
    transition-delay: .4s;
    transform: translate(0);
}


/* SKILLS */
#skills{
    position: relative;
    padding: 8vh 2rem;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    color: #000;
}
#skills .skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30rem;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}
#skills .skills .card{
    position: relative;
    width: 32rem;
    height: 40rem;
    margin: 3rem 3rem 4.5rem 3rem;
    box-shadow: 10px 10px 10px ;
    border-radius: 2rem;
    transform-style: preserve-3d;
    background-image: url("img/blue-steal.jpg");
    caption-side: cover;
    background-position: center;
}

#skills .skills .skills-list{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    min-width: 92%;
    max-width: 30rem;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 50px);
}

#skills .skills .skills-list .programing-languages{
    text-align: right;
    line-height: 5rem;
    font-weight: bolder;
}
#skills .skills .skills-list ul{
    text-align: center;
    line-height: 5rem;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 0 15px rgb(36, 36, 36);
}
#skills .skills .skills-list ul i{
    color: rgba(255, 225, 56, 0.781);
    text-shadow: 0 0 27px rgba(0, 0, 0, 0.699);
}

/* PROJECTS */

#projects{
    padding-top: 8vh;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}
#projects .allcontent{
    position: relative;
    margin: 6rem auto;
    width: 100%;
    max-width: 80vw;
    height: 700px;
    animation: comein 1.5s ease-in-out;
}
#projects .allcontent .backgroun-zoom.opened{
    position: absolute;
    top: -1000px;
    left: -3000px;
    width: 1000%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
}
#projects .allcontent .project{
    width: 80%;
    max-width: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
    cursor: pointer;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.3)
}
#projects .allcontent .project:nth-child(1){
    left: 10px;
}
#projects .allcontent .project:nth-child(1):hover{
    left: 0;
    transform: rotate(-1deg);
}
#projects .allcontent .project:nth-child(2){
    left: 10%;
}
#projects .allcontent .project:nth-child(2):hover{
    left: 5%;
    transform: rotate(-1deg);
}
#projects .allcontent .project:nth-child(3){
    left: 20%;
}
#projects .allcontent .project:nth-child(3):hover{
    left: 15%;
    transform: rotate(-1deg);
}
#projects .allcontent .project:nth-child(4){
    left: 30%;
}
#projects .allcontent .project:nth-child(4):hover{
    left: 25%;
    transform: rotate(-1deg);
}
#projects .project-video{
    width: 100%;
    border: 2px solid #fff;
}

.project.opened{
    /* background blocking when project zooms in */
    z-index: 3;
    left: 0 !important;
    transform: rotate(0);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 100vw !important;
}
.project.opened .project-video{
    z-index: 5;
}
#projects .allcontent .project .ombra{
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 100%;
    height: 20px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-1deg);
    display: none;
    z-index: -1;
}
#projects .allcontent .project .ombra:after{
    display: block;
    content: "";
    position: absolute;
    bottom: -8px;
    right: -93px;
    width: 90%;
    height: 20px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(7deg);
}
#projects .allcontent #navi{
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin:  0 0 0 -62px;
    background: #000;
    opacity: 0.8;
    color: #fff;
    height: 24px;
    border-radius: 20px;
    padding: 0 10px;
}

.circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #efefef;
    border: 1px solid #000;
    margin-right: 6px;
    cursor: pointer;
}
.circle:hover{
    background-color: #fff;
    border: 1px solid #ccc;
}
.circle:active,
.activenav,
.activenav:hover{
    background: #666;
    border: 1px solid #333;
}
.activenav{
    cursor: default;
}
.circle:last-child{
    margin-right: 0;
}

@media screen and (max-width: 1200px) {
    html{
        font-size: 7.47px;
    }

    /* ABOUT ME */
    #aboutme .aboutme{
        padding: 0 5%;
    }
    #aboutme h4{
        font-size: 3rem;
    }
}
@media screen and (max-width: 900px) {
    html{
        font-size: 6.3px;
    }
    /* ABOUT ME */
    #aboutme .aboutme h4{
        font-size: 3.2rem;
    }
    #aboutme .aboutme .slide{
        font-size: 2.8rem;
    }
}
@media screen and (orientation: landscape){
    /* ABOUT ME */
    #aboutme .aboutme{
        flex-direction: row;
    }
    #aboutme .aboutme h4{
        font-size: 4rem;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 6px;
    }
    /* NAVIGATION */
    #navigation .nav-list ul{
        position: absolute;
        display: flex;
        right: 0;
        top: 4rem;
        height: 92vh;
        width: 60vw;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.95);
    }
    #navigation .nav-list ul{
        transform: translateX(100%);
        transition: .5s;
        font-size: 4rem;
    }
    #navigation.active .nav-list ul{
        transform: translateX(0);
    }
    #navigation.sticky .nav-list ul{
        background-color: rgba(255, 255, 255, 0.95);
    }

    #navigation .burger{
        display: block;

        line-height: 60px;

    }
    #navigation.active .background-block{
        /* background blocking when project zooms in */
        position: fixed;
        display: block;
        z-index: 900;
        left: 0 !important;
        top: 20px !important;
        width: 100vw !important;
        height: 1000px !important;
    }
    /* ABOUT ME */
    #aboutme .aboutme{
        flex-direction: column;
    }
    #aboutme .aboutme h4{
        font-size: 4rem;
    }
    /* SKILLS */
    #skills{
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    html{
        font-size: 6px;
    }
    /* ABOUT ME */
    #aboutme .aboutme .slide{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 480px) {
    html{
        font-size: 5.5px;
    }
    /* ABOUT ME */
    #aboutme .aboutme .slide{
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 320px) {
    /* ABOUT ME */
    #aboutme .aboutme .slide{
        font-size: 1.6rem;
    }
}
@media screen and (orientation: landscape){
    /* ABOUT ME */
    #aboutme .aboutme{
        flex-direction: row;
    }
}



/* CONTACT */
#contact{
    position: relative;
    padding: 40px 100px;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}
#contact .contact{
    position: relative;
    width: 1100px;
    height: 550px;
    max-width: 80vw;
    display: flex;
}
#contact .contact .contactinfo{
    position: relative;
    top: 40px;
    width: 400px;
    height: 370px;
    height: calc(100%-80px);
    background-color: rgba(58, 58, 58, 0.767);
    z-index: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
#contact .contact .contactinfo h4{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
#contact .contact .contactinfo .info{
    position: relative;
    margin: 20px 0;
}
#contact .contact .contactinfo .info li{
    position: relative;
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
    cursor: pointer;
}
#contact .contact .contactinfo .info li span:nth-child(1){
    width: 40px;
    min-width: 40px;
    transform: translate(0, -15%);
}
#contact .contact .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}   
#contact .contact .contactinfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 400px;
    opacity: 0.5;
}
#contact .contact .contactinfo .info li:hover span:nth-child(1) img,
#contact .contact .contactinfo .info li:hover span:nth-child(2){
    opacity: 1;
}   
#contact .contact .contactinfo .icons{
    height: 180px;
    width: 250px;
    position: relative;
    display: block;
    transform: translate(-50%, 0);
    left: 50%;
    
}
#contact .contact .contactinfo .icons ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#contact .contact .contactinfo .icons ul li{
    position: relative;
    width: 30px;
    min-width: 30px;
    transform: translate(-50%, 0);
    
}
#contact .contact .contactinfo .icons ul li a{
    position: relative;
}
#contact .contact .contactinfo .icons ul li img{
    max-width: 100%;
    margin: 15%;
    transition: .2s;
}
#contact .contact .contactinfo .icons ul li:hover img{
    max-width: 130%;
    margin: 0;
} 
#contact .contact .contact-message{
    position: absolute;
    padding: 70px 50px;
    margin-left: 150px;
    padding-left: 270px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    background-color: rgba(223, 223, 223, 0.486);
}
#contact .contact .contact-message h4{
    font-size: 24px;
    font-weight: 600;
}
#contact .contact .contact-message .message-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}
#contact .contact .contact-message .message-box .input{
    position: relative;
    margin-bottom: 35px;
}
#contact .contact .contact-message .message-box .w50{
    width: 47%;
}
#contact .contact .contact-message .message-box .w100{
    width: 100%;
}
#contact .contact .contact-message .message-box input,
#contact .contact .contact-message .message-box textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    resize: none;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
    background-color: transparent;
}
#contact .contact .contact-message .message-box textarea{
    min-height: 120px;
}
#contact .contact .contact-message .message-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: .4s;
    pointer-events: none;
}
#contact .contact .contact-message .message-box input:focus ~ span,
#contact .contact .contact-message .message-box textarea:focus ~ span,
#contact .contact .contact-message .message-box input:valid ~ span,
#contact .contact .contact-message .message-box textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 0, 0);
}
#contact .contact .contact-message .message-box .send{
    position: relative;
    cursor: pointer;
    background-color: rgb(197, 88, 88);
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px 30px;
}
#contact .contact .contact-message .message-box .input:hover .send{
    background-color: rgb(182, 61, 61);
    color: #fff;
}

/* FOOTER */
footer{
    position: relative;
    height: 30px;
}
footer p{
    display: block;
    width:fit-content ;
    line-height: 30px;
    margin: auto;
    font-size: 15px;
}